
.aside-1 {
    #global{
        height: 300px;
        width: 100%;
        border: transparent;
        background: #f1f1f1;
        overflow-y: scroll;
    }
    #contenido{
        height:auto ;
    }
    img#dropdownMenuButton {
        border-radius: 50px;
        width: 30px;
    }
    img{
        width: 100%;
        
        
    }
    
    .sign-up {
        list-style: none;

        li:hover {
            border-radius: 2px;
            background-color: #d3dadd;
            color: blue;
            padding: 5px;
        }

        li {
            color: black;
            padding: 5px;
        }
        h3{
            padding: 5px;
            font-size: 18px;
            font-weight: bold;;

        }
    }

    .text-muted {

        font-size: 15px;

        p {
            background-color: transparent;
            display: block;
            margin-block-start: 0;
            margin-block-end: 0;
            margin-inline-start: 0px;
            margin-inline-end: 0px;
            padding-left: 20%;
        }
    }
    .popular-tags{
        list-style: none;
        h3{
            padding: 5px;
            font-size: 18px;
            font-weight: bold;;
            svg:hover{
                margin: 0 0 0 50%;
                background-color: #d3dadd;
                
            }
            svg{
                
                margin: 0 0 0 50%;
                background-color: transparent;
            }
        }
        li:hover {
            border-radius: 2px;
            background-color: #d3dadd;
            color: blue;
            padding: 5px;
        }

        li {
            color: black;
            padding: 5px;
        }
        
    }
}