
.aside-2 {
    //poniendole padding a la seccion de arriba
    .class-1sectionOfAside2 {
        .sec-img-aside{
            padding:10px;
            
            //poniendole margen y height
            .img-Aside{
                margin-right: 10px;
                height: 50px;
            }
        }
    }
}
.aside2{
    img{
        width: 110%;
       
    }
    
}
.img-Aside{
    width: 50%; 
    margin-top: 10px;
    margin-left: 10px;
}

.class-1sectionOfAside2{
    background-color: whitesmoke;
    border-radius: 7px;
    margin-top: 10px;
}

.articles-aside-2{
    background-color: whitesmoke;
    border-radius: 7px;
    margin-top: 10px;
}
.articlesNews{
    background-color: whitesmoke;
    border-radius: 7px;
    margin-top: 10px;
}
.articles-help{
    background-color: whitesmoke;
    border-radius: 7px;
    margin-top: 10px;
}
.articles-discuss{
    background-color: whitesmoke;
    border-radius: 7px;
    margin-top: 10px; 
}

.tam-letra-article{
    font-weight: bold;

}
.tam-letra-p
{
    font-size: 10px;
    margin-left: 10px;
}

.listings{
    margin-top: 10px;
  
}
.listings-ul{
        list-style-type: none;
    }
ul li.lista-aside-2{
    padding: 10px;
    border-radius: 5px;
    border-bottom: 1px solid rgb(240, 237, 240);
    &:hover{
        border-bottom: rgba(207, 207, 205, 0.89);
        background-color: white;
        color:rgb(24, 24, 173);
    }
    &:first-of-type{
        font-weight: bold;
    }
}

.article{
    /*background-color: #eef0f1;*/
    padding: 10px;
}
.articlesNews{
    margin-top: 10px;
    /*background-color: #eef0f1;*/
}
.CreateListin{
    margin-top: 10px;
    /*background-color: #eef0f1;*/

}
.news-ul{
    margin-top: 10px;
    list-style-type: none;
}
.btn-new{
    border-radius: 7px;
    //height: 25px;
    padding:5px 10px 5px 10px;
}