.seccion-main {
    background-color: white;
    .navbar {
        position: relative;
        background-color:$navbar-color;
        }

        .a-navbar{
            .image-coins{
                position: absolute;
                left:1%;
                top: 28%;
                font-size: 25px;
            }
            .navbar-posts {
                font-weight: bold;
                color: black;
            }
        }

        .a-navbar-der {
            .btn-feed {
                position: relative;
                border: none;
                border:$btn-feed-border;
                border-radius: 2px;
                background-color:$btn-feed-bg;
                color: black;
                width: 100px;
                height: 40px;
                text-align: left;
                .btn-feed-flecha {
                    position: absolute;
                    left: 80%;
                }
            }
            .navbar-mdsize {
                width: 330px;
                a {
                    padding: 4px;
                    font-size: 16px;
                    color: black;
                    text-decoration: none;
                }
                
            }
            .image-rayito {
                font-size: 30px;
                position: absolute;
                right: 2%;
                top: 25%;
        }
    }
    .imagen-main {
        align-self: center;
        .imagen-principal {
            width: 80%;
            margin: auto;
            padding: 10px;
            align-self: center;
        }
    }

    .article-main {
        padding: 10px;
        .iconos-article {
            .icono-article {
                width :40px;
                border-radius: 20px;
            }
        }
        .article-info {
            width: 100%;
            .nombre-fecha{
                color: $nombre-fecha-color;
                .nombre-article{
                    font-weight: bold;
                    line-height: 0.3cm;
                    font-size: 14px;
                }
                .fecha-article {
                    font-size: 11px;
                }
            }
            .titulo-tags {
                a {
                    color: grey;
                    text-decoration: none;
                }
            }

            .iconos-botones-article {
                .botones-der {
                    width: 50%;
                    p {
                        color: grey;
                        width: 60%;
                    }
                    .btn-save {
                        background-color: rgb(209, 207, 207);
                        border: none;
                        border-radius: 7px;
                        width: 70px;
                        height: 30px;
                    }
                }
            }
        }
    }
}
