$navbar-color:  rgb(238, 230, 230);
$btn-feed-border: 1px rgb(155, 155, 155) solid;
$btn-feed-bg: rgb(240, 234, 234);
$nombre-fecha-color: rgb(80, 78, 78);
$article-main-bg: rgba(255, 255, 255, 0.1);
$navbar-hover-bg: rgba(255, 255, 255, 0.4);