.aside-1 img {
  width: 100%;
}

.aside-1 .sign-up {
  list-style: none;
}

.aside-1 .sign-up li:hover {
  border-radius: 2px;
  background-color: #f3efef;
  color: blue;
  padding: 5px;
}

.aside-1 .sign-up li {
  color: black;
  padding: 5px;
}

.aside-1 .text-muted {
  font-size: 15px;
}

.aside-1 .text-muted p {
  display: block;
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
  -webkit-margin-start: 0px;
          margin-inline-start: 0px;
  -webkit-margin-end: 0px;
          margin-inline-end: 0px;
  padding-left: 20%;
}

.aside-1 .popular-tags {
  list-style: none;
}

.aside-1 .popular-tags h3 {
  padding: 5px;
  font-size: 18px;
  font-weight: bold;
}

.aside-1 .popular-tags h3 svg:hover {
  margin: 0 0 0 50%;
  background-color: #f3efef;
}

.aside-1 .popular-tags h3 svg {
  margin: 0 0 0 50%;
  background-color: white;
}

.aside-1 .popular-tags li:hover {
  border-radius: 2px;
  background-color: #f3efef;
  color: blue;
  padding: 5px;
}

.aside-1 .popular-tags li {
  color: black;
  padding: 5px;
}

* {
  padding: 0px;
  margin: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body hr {
  width: 95%;
  margin: auto;
  border: 1px solid #bbbaba;
}

.seccion-main {
  background-color: white;
}

.seccion-main .navbar {
  position: relative;
  background-color: #eee6e6;
}

.seccion-main .a-navbar .image-coins {
  position: absolute;
  left: 1%;
  top: 28%;
  font-size: 25px;
}

.seccion-main .a-navbar .navbar-posts {
  font-weight: bold;
  color: black;
}

.seccion-main .a-navbar-der .btn-feed {
  position: relative;
  border: none;
  border: 1px #9b9b9b solid;
  border-radius: 2px;
  background-color: #f0eaea;
  color: black;
  width: 100px;
  height: 40px;
  text-align: left;
}

.seccion-main .a-navbar-der .btn-feed .btn-feed-flecha {
  position: absolute;
  left: 80%;
}

.seccion-main .a-navbar-der .navbar-mdsize {
  width: 330px;
}

.seccion-main .a-navbar-der .navbar-mdsize a {
  padding: 9px 4px 9px 4px;
  font-size: 16px;
  color: black;
  text-decoration: none;
}

.seccion-main .a-navbar-der .navbar-mdsize a:hover {
  -webkit-box-shadow: 0px 3px 20px 10px rgba(0, 0, 0, 0.11);
          box-shadow: 0px 3px 20px 10px rgba(0, 0, 0, 0.11);
  border-bottom: 2px solid blue;
}

.seccion-main .a-navbar-der .image-rayito {
  font-size: 30px;
  position: absolute;
  right: 2%;
  top: 25%;
}

.seccion-main .imagen-main {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.seccion-main .imagen-main .imagen-principal {
  width: 80%;
  margin: auto;
  padding: 10px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.seccion-main .article-main {
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 10px;
}

.seccion-main .article-main:hover {
  -webkit-box-shadow: 0px 3px 20px 10px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 3px 20px 10px rgba(0, 0, 0, 0.15);
}

.seccion-main .article-main .iconos-article .icono-article {
  width: 40px;
  border-radius: 20px;
}

.seccion-main .article-main .article-info {
  width: 100%;
}

.seccion-main .article-main .article-info .nombre-fecha {
  color: #504e4e;
}

.seccion-main .article-main .article-info .nombre-fecha .nombre-article {
  font-weight: bold;
  line-height: 0.3cm;
  font-size: 14px;
}

.seccion-main .article-main .article-info .nombre-fecha .fecha-article {
  font-size: 11px;
}

.seccion-main .article-main .article-info .titulo-tags h3:hover {
  color: blue;
}

.seccion-main .article-main .article-info .titulo-tags a {
  color: grey;
  text-decoration: none;
}

.seccion-main .article-main .article-info .titulo-tags a:hover {
  color: black;
}

.seccion-main .article-main .article-info .iconos-botones-article .botones-der {
  width: 50%;
}

.seccion-main .article-main .article-info .iconos-botones-article .botones-der p {
  color: grey;
  width: 60%;
}

.seccion-main .article-main .article-info .iconos-botones-article .botones-der p:hover {
  color: black;
}

.seccion-main .article-main .article-info .iconos-botones-article .botones-der .btn-save {
  background-color: #d1cfcf;
  border: none;
  border-radius: 7px;
  width: 70px;
  height: 30px;
}

.seccion-main .article-main .article-info .iconos-botones-article .botones-der .btn-save:hover {
  -webkit-box-shadow: 0px 3px 20px 10px rgba(0, 0, 0, 0.07);
          box-shadow: 0px 3px 20px 10px rgba(0, 0, 0, 0.07);
}
/*# sourceMappingURL=style.css.map */