*{
    padding:0px;
    margin: 0px;
    box-sizing: border-box;
}

.contenedor-fluido {
        background-color: grey;
        height: 100vh;

        .row-primario {
            height: 80%;
        }

        .aside-1{
            background-color: red;
        }

        .seccion-principal{
            background-color: black;
        }

        .aside-2 {
            background-color: blue;
        }

        .row-footer {
            .container-fluido-footer {
                height: 20%;
                background-color: black;
            }
        }

}