.aside-1 img {
  width: 100%;
}

.aside-1 .sign-up {
  list-style: none;
}

.aside-1 .sign-up li:hover {
  border-radius: 2px;
  background-color: #d3dadd;
  color: blue;
  padding: 5px;
}

.aside-1 .sign-up li {
  color: black;
  padding: 5px;
}

.aside-1 .sign-up h3 {
  padding: 5px;
  font-size: 18px;
  font-weight: bold;
}

.aside-1 .text-muted {
  font-size: 15px;
}

.aside-1 .text-muted p {
  background-color: transparent;
  display: block;
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
  -webkit-margin-start: 0px;
          margin-inline-start: 0px;
  -webkit-margin-end: 0px;
          margin-inline-end: 0px;
  padding-left: 20%;
}

.aside-1 .popular-tags {
  list-style: none;
}

.aside-1 .popular-tags h3 {
  padding: 5px;
  font-size: 18px;
  font-weight: bold;
}

.aside-1 .popular-tags h3 svg:hover {
  margin: 0 0 0 50%;
  background-color: #d3dadd;
}

.aside-1 .popular-tags h3 svg {
  margin: 0 0 0 50%;
  background-color: transparent;
}

.aside-1 .popular-tags li:hover {
  border-radius: 2px;
  background-color: #d3dadd;
  color: blue;
  padding: 5px;
}

.aside-1 .popular-tags li {
  color: black;
  padding: 5px;
}

* {
  padding: 0px;
  margin: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.bg-color {
  background-color: #EEF0F1;
}

body hr {
  width: 95%;
  margin: auto;
  border: 1px solid #bbbaba;
}

.seccion-main .navbar {
  position: relative;
  background-color: transparent;
}

.seccion-main .a-navbar {
  background-color: transparent;
}

.seccion-main .a-navbar .image-coins {
  position: absolute;
  left: 1%;
  top: 28%;
  font-size: 25px;
}

.seccion-main .a-navbar .navbar-posts {
  font-weight: bold;
  color: black;
}

.seccion-main .a-navbar-der {
  background-color: transparent;
}

.seccion-main .a-navbar-der .btn-feed {
  position: relative;
  border: none;
  border: 1px #9b9b9b solid;
  border-radius: 2px;
  background-color: #f0eaea;
  color: black;
  width: 100px;
  height: 40px;
  text-align: left;
}

.seccion-main .a-navbar-der .btn-feed .btn-feed-flecha {
  background-color: transparent;
  position: absolute;
  left: 80%;
}

.seccion-main .a-navbar-der .navbar-mdsize {
  width: 330px;
}

.seccion-main .a-navbar-der .navbar-mdsize a {
  padding: 9px 4px 9px 4px;
  font-size: 16px;
  color: black;
  text-decoration: none;
}

.seccion-main .a-navbar-der .navbar-mdsize a:hover {
  -webkit-box-shadow: 0px 3px 20px 10px rgba(0, 0, 0, 0.11);
          box-shadow: 0px 3px 20px 10px rgba(0, 0, 0, 0.11);
  border-bottom: 2px solid blue;
}

.seccion-main .a-navbar-der .image-rayito {
  font-size: 30px;
  position: absolute;
  right: 2%;
  top: 25%;
}

.seccion-main .imagen-main {
  background-color: white;
  border-radius: 10px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.seccion-main .imagen-main .imagen-principal {
  width: 80%;
  margin: auto;
  padding: 10px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.seccion-main .article-main {
  border: 1px solid #dbd8d8;
  border-radius: 10px;
  background-color: white;
  padding: 10px;
}

.seccion-main .article-main:hover {
  -webkit-box-shadow: 0px 3px 20px 10px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 3px 20px 10px rgba(0, 0, 0, 0.15);
}

.seccion-main .article-main .iconos-article {
  background-color: white;
}

.seccion-main .article-main .iconos-article .icono-article {
  width: 40px;
  border-radius: 20px;
}

.seccion-main .article-main .article-info {
  background-color: white;
  width: 100%;
}

.seccion-main .article-main .article-info .nombre-fecha {
  background-color: white;
  color: #504e4e;
}

.seccion-main .article-main .article-info .nombre-fecha .nombre-article {
  background-color: white;
  font-weight: bold;
  line-height: 0.3cm;
  font-size: 14px;
}

.seccion-main .article-main .article-info .nombre-fecha .fecha-article {
  background-color: white;
  font-size: 11px;
}

.seccion-main .article-main .article-info .titulo-tags {
  background-color: white;
}

.seccion-main .article-main .article-info .titulo-tags h3 {
  background-color: white;
  color: black;
}

.seccion-main .article-main .article-info .titulo-tags h3:hover {
  color: blue;
}

.seccion-main .article-main .article-info .titulo-tags a {
  background-color: white;
  color: grey;
  text-decoration: none;
}

.seccion-main .article-main .article-info .titulo-tags a:hover {
  color: black;
}

.seccion-main .article-main .article-info .iconos-botones-article {
  background-color: white;
}

.seccion-main .article-main .article-info .iconos-botones-article .iconos-botones-iconos {
  background-color: white;
}

.seccion-main .article-main .article-info .iconos-botones-article .iconos-botones-iconos .far {
  background-color: white;
}

.seccion-main .article-main .article-info .iconos-botones-article .botones-der {
  background-color: white;
  width: 50%;
}

.seccion-main .article-main .article-info .iconos-botones-article .botones-der p {
  background-color: white;
  color: grey;
  width: 60%;
}

.seccion-main .article-main .article-info .iconos-botones-article .botones-der p:hover {
  color: black;
}

.seccion-main .article-main .article-info .iconos-botones-article .botones-der .btn-save {
  background-color: white;
  background-color: #d1cfcf;
  border: none;
  border-radius: 7px;
  width: 70px;
  height: 30px;
}

.seccion-main .article-main .article-info .iconos-botones-article .botones-der .btn-save:hover {
  -webkit-box-shadow: 0px 3px 20px 10px rgba(0, 0, 0, 0.07);
          box-shadow: 0px 3px 20px 10px rgba(0, 0, 0, 0.07);
}

header {
  background-color: white;
  padding-bottom: 10px;
}

header .container {
  background-color: white;
}

header .container nav {
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .container nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 10px;
  background-color: white;
}

header .container nav ul li {
  background-color: white;
}

header .container nav ul li a {
  width: 1px;
  height: 1px;
  visibility: hidden;
}

header .container nav ul li img {
  margin: 10px 5px 0 5px;
  background-color: white;
}

header .container nav ul li img.redondeado {
  margin-top: 7px;
  height: 30px;
  border-radius: 100%;
}

header .container section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 10px;
  background-color: white;
  width: 55%;
}

header .container section input:hover {
  border: 1px solid #a1a1a1;
  background-color: #fbfbfb;
  margin: 2px 0 0 15px;
  padding-left: 5px;
}

header .container section input {
  background-color: #fbfbfb;
  margin: 2px 0 0 15px;
  padding-left: 5px;
  width: 80%;
}

header.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 4;
}

@media only screen and (min-width: 768px) {
  header {
    background-color: white;
    padding-bottom: 10px;
  }
  header .container {
    background-color: white;
  }
  header .container nav {
    background-color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  header .container nav ul {
    padding-top: 10px;
    background-color: white;
  }
  header .container nav ul li {
    background-color: white;
  }
  header .container nav ul li a {
    padding: 5px;
    font-weight: bold;
    margin-top: 2px;
    text-align: center;
    width: 140px;
    height: 35px;
    visibility: visible;
  }
  header .container nav ul li img {
    margin: 10px 5px 0 5px;
    background-color: white;
  }
  header .container nav ul li img.redondeado {
    margin-top: 7px;
    height: 30px;
    border-radius: 100%;
  }
  header .container section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 10px;
    background-color: white;
    width: 60%;
  }
  header .container section input:hover {
    border: 1px solid #a1a1a1;
    background-color: #fbfbfb;
    margin: 2px 0 0 15px;
    padding-left: 5px;
  }
  header .container section input {
    background-color: #fbfbfb;
    margin: 2px 0 0 15px;
    padding-left: 5px;
    width: 80%;
  }
  header.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 4;
  }
}

.aside-2 .class-1sectionOfAside2 .sec-img-aside {
  padding: 10px;
}

.aside-2 .class-1sectionOfAside2 .sec-img-aside .img-Aside {
  margin-right: 10px;
  height: 50px;
}

.aside2 img {
  width: 110%;
}

.img-Aside {
  width: 50%;
  margin-top: 10px;
  margin-left: 10px;
}

.class-1sectionOfAside2 {
  background-color: whitesmoke;
  border-radius: 7px;
  margin-top: 10px;
}

.articles-aside-2 {
  background-color: whitesmoke;
  border-radius: 7px;
  margin-top: 10px;
}

.articlesNews {
  background-color: whitesmoke;
  border-radius: 7px;
  margin-top: 10px;
}

.articles-help {
  background-color: whitesmoke;
  border-radius: 7px;
  margin-top: 10px;
}

.articles-discuss {
  background-color: whitesmoke;
  border-radius: 7px;
  margin-top: 10px;
}

.tam-letra-article {
  /*font-size:15px;*/
  font-weight: bold;
}

.tam-letra-p {
  font-size: 10px;
  margin-left: 10px;
}

.listings {
  margin-top: 10px;
}

.listings-ul {
  list-style-type: none;
}

ul li.lista-aside-2 {
  padding: 10px;
  border-radius: 5px;
  border-bottom: 1px solid #f0edf0;
}

ul li.lista-aside-2:hover {
  border-bottom: rgba(207, 207, 205, 0.89);
  background-color: white;
  color: #1818ad;
}

ul li.lista-aside-2:first-of-type {
  font-weight: bold;
}

.article {
  /*background-color: #eef0f1;*/
  padding: 10px;
}

.articlesNews {
  margin-top: 10px;
  /*background-color: #eef0f1;*/
}

.CreateListin {
  margin-top: 10px;
  /*background-color: #eef0f1;*/
}

.news-ul {
  margin-top: 10px;
  list-style-type: none;
}

.btn-new {
  border-radius: 7px;
  padding: 5px 10px 5px 10px;
}

footer {
  background-color: #bdc1c7;
  width: 100%;
}

.div-footer-principal {
  padding: 10px;
}

.div-footer-principal .div-footer .listas-footer {
  width: 100%;
  margin: auto;
  list-style: none;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.div-footer-principal .div-footer .listas-footer li {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  line-height: 0.7cm;
  margin: 0px 20px 0px 20px;
}
/*# sourceMappingURL=style.css.map */