.aside-derecha {
    height: 100vh;
    width: 100%;
    .div-1-aside-2 {
        background-color: #F9FAFA;
        border: 1px solid rgb(192, 188, 188);
        border-radius: 6px;
        height: 50%;
        .cuadro-negro {
            background-color: black;
            width: 100%;
            height: 10%;
        }
        .foto-nombre {
            position: relative;
            .foto-aside-der {
                position: absolute;
                top:-50%;
                left: 5%;
                width: 50px;
                border-radius: 50px;
            }
            h5 {
                font-weight: bold;
                margin-top: 5px;
                margin-left: 70px;
            }
        }
    }
    .div-2-aside-2 {
        background-color: blue;
        height: 50%;
    }
}