.aside-1 {
        position: -webkit-sticky;
        position: sticky;
        top: 50px;
        //z-index: 4;
    
    background-color: #EEF0F1;
    height: 100px;
    width: 100%;

   .div-aside-1{
    height: 100vh;
       .iconos-aside-1{
            .svgs {
               opacity: 0.7;
           }
       }
   } 
}

@media only screen and(max-width:768px) {
    .aside-abajo {
        height: 100%;
        .div-aside-1 {
            height: 10%;
            margin-top: 15px;
            position: fixed;
            left: 0;
            bottom: 0;
            width: 100%;
            text-align: center;
            background-color: #EEF0F1;
            .iconos-aside-1 {
                height: 70%;
                .svgs {
                }
            }
        }
    }
}