*{
    padding:0px;
    margin: 0px;
    box-sizing: border-box;
}

html {
    overflow-x: auto;
}

body {
    background-color: #EEF0F1;
    hr {
        width: 95%;
        margin: auto;
        border: 1px solid rgb(187, 186, 186);
    }
}